<div class="bg-blue-50">
  <section class="max-h-full max-w-full bg-blue-100">
    <div class="">
      <div class="container mx-auto md:flex md:justify-around items-center justify-between">
        <div class="flex flex-col text-center md:text-left md:pl-14">
          <h1 class="text-5xl sm:text-7xl font-bold md:pt-1 pt-10" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">積みログ</h1>
          <p class="mb-4 text-3xl md:pt-5 pt-2 font-bold" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">
            積読本解消カレンダーアプリ
          </p>
          <p class="mb-4 text-xl md:pt-8 pt-6" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">
            本棚に眠っている資格の本やビジネス書<br>そろそろ読み始めませんか？
          </p>
          <div class="mt-12 flex flex-wrap gap-4 text-center">
            <%= link_to '新規登録', new_user_path, class:  "md:m-auto font-bold mx-10 block w-full rounded bg-blue-700 px-12 py-3 text-sm font-medium text-white shadow hover:bg-blue-900 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %>
            <%= link_to 'ログイン', login_path, class:  "md:m-auto font-bold mx-10 block w-full rounded bg-white px-12 py-3 text-sm font-medium text-blue-700 shadow hover:text-blue-700 focus:outline-none focus:ring active:text-blue-500 sm:w-auto hover:bg-gray-100", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %>
          </div>
        </div>
        <%= image_tag "top_hero.png", class: "md:w-1/2 flex"%>
    </div>
  </section>
  <div class="bg-no-repeat flex justify-center mx-6">
    <%= image_tag 'top_bookpage.png', class: 'mt-10' %>
  </div>
  <div class="text-center md:mb-20 mb-10">
    <p class="text-gray-700 md:text-5xl font-bold text-center mt-10 md:mt-28 leading-snug mb-6"  style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">忙しい毎日の空き時間を<br>有効活用しませんか？</p>
    <%= link_to "使い方を見る", "", class: "shadow-lg bg-orange-500 shadow-orange-500/50 text-white rounded px-2 py-1 md:mt-15 hover:bg-orange-600", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %>
  </div>
  <div class="bg-no-repeat flex justify-center mx-6">
    <%= image_tag 'top_culcpages.png' %>
  </div>
  <div class="text-center md:mb-20 mb-10">
    <p class="text-gray-700 md:text-5xl font-bold text-center mt-10 md:mt-28 leading-snug mb-6"  style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">毎日の勉強をサポートします</p>
    <%= link_to "使い方を見る", "", class: "shadow-lg bg-orange-500 shadow-orange-500/50 text-white rounded px-2 py-1 mt-15 md:mb-20 hover:bg-orange-600", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mx-6">
    <div class="p-3 my-2 bg-yellow-50 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
      <div class="flex flex-col items-center">
        <%= image_tag "top_calendar.png", class: "pt-3" %>
        <p class="mt-9 font-bold justify-start text-xl" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">カレンダーに本のページ数を<br>登録してみましょう。<br>ページ数と勉強終了予定日が<br>一覧で確認出来ます。</p>
      </div>
    </div>
    <div class="p-3 my-2 bg-yellow-50 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
      <div class="flex flex-col items-center">
        <%= image_tag "top_book.png", class: "pt-6" %>
        <p class="mt-4 font-bold justify-start text-xl" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">一日の終わりに、<br>勉強した総ページ数を<br>記録してみましょう。<br>毎日の勉強記録を記録出来ます。</p>
      </div>
    </div>
    <div class="p-3 my-2 bg-yellow-50 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
      <div class="flex flex-col items-center">
        <%= image_tag "top_webculc.png", class: "pt-4" %>
        <p class="mt-6 font-bold justify-start text-xl" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">毎日の記録を確認してみましょう。<br>勉強したページ数から<br>本の残りのページ数と終了日を<br>自動で計算してくれます。</p>
      </div>
    </div>
  </div>

  <div class="text-center pb-20 bg-blue-50 mt-20">
    <%= link_to "今すぐ始めてみる", "#", class: "shadow-lg shadow-blue-500/50 btn btn-primary md:text-2xl mb-8", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %><br>
    <%= link_to "使い方を見る", "", class: "shadow-lg bg-orange-500 shadow-orange-500/50 text-white rounded px-2 py-1 mt-10 mb-20 hover:bg-orange-600", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %>
  </div>
</div>
