<div class="bg-blue-50">
  <section class="max-h-full max-w-full bg-blue-100">
    <div class="">
      <div class="container mx-auto md:flex md:justify-around items-center justify-between">
        <div class="flex flex-col text-center md:text-left md:pl-14">
          <h1 class="text-5xl sm:text-7xl font-bold md:pt-1 pt-10" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">積みログ</h1>
          <p class="mb-4 text-3xl md:pt-5 pt-2 font-bold" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">
            積読本解消<br>カレンダーアプリ
          </p>
          <p class="mb-4 text-xl md:pt-8 pt-6" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">
            本棚に眠っている資格の本やビジネス書<br>そろそろ読み始めませんか？
          </p>
          <% unless logged_in? %>
            <div class="mt-12 flex flex-wrap gap-4 text-center md:space-x-6">
              <%= link_to '始める', new_user_path, class: "text-xl start_button md:m-auto font-bold mx-10 block w-full rounded bg-green-500 px-12 py-3 font-medium text-white shadow hover:bg-green-500 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %>
              <%= link_to 'ログイン', login_path, class: "text-xl md:m-auto font-bold mx-10 block w-full rounded bg-white px-12 py-3 font-medium text-blue-700 shadow hover:text-blue-700 focus:outline-none focus:ring active:text-blue-500 sm:w-auto hover:bg-gray-100", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %>
            </div>
          <% end %>
        </div>
        <%= image_tag "top_hero.png", class: "top_hero_img md:w-1/2 flex"%>
    </div>
  </section>
  <section>
    <div class="md:w-2/5 mt-10 shadow-md mx-5 md:mx-auto">
      <div>
        <div class="bg-blue-100 border-t-4 border-blue-200 p-3 cursor-pointer font-bold text-xl">
          <div class="books_index_close float-left mr-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75V18m-7.5-6.75h.008v.008H8.25v-.008zm0 2.25h.008v.008H8.25V13.5zm0 2.25h.008v.008H8.25v-.008zm0 2.25h.008v.008H8.25V18zm2.498-6.75h.007v.008h-.007v-.008zm0 2.25h.007v.008h-.007V13.5zm0 2.25h.007v.008h-.007v-.008zm0 2.25h.007v.008h-.007V18zm2.504-6.75h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V13.5zm0 2.25h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V18zm2.498-6.75h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V13.5zM8.25 6h7.5v2.25h-7.5V6zM12 2.25c-1.892 0-3.758.11-5.593.322C5.307 2.7 4.5 3.65 4.5 4.757V19.5a2.25 2.25 0 002.25 2.25h10.5a2.25 2.25 0 002.25-2.25V4.757c0-1.108-.806-2.057-1.907-2.185A48.507 48.507 0 0012 2.25z" />
            </svg>
          </div>
          <div>
            読み終わるのは何日？
          </div>
        </div>
        <div class="bg-slate-50 py-2 space-y-2 border-blue-200 border-b-2">
          <form>
            <div class="flex flex-col">
              <div class="flex p-4 mt-6">
                <div class="flex md:text-xl md:font-bold">
                  <span class="block pt-3 float-left">本の総ページ数&emsp;</span>
                  <input type="number" id="input_total_pages" class="mr-2 float-left bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 py-3 px-6" name="study_number" placeholder="例)30" required="required" min="0" max="5000" required>
                  <span class="block pt-3">ページ</span>
                </div>
              </div>
              <div class="flex flex-col p-4 md:text-xl md:font-bold">
                <div class="">
                  <span class="block pt-3 float-left">1日の目標ページ数&emsp;</span>
                  <input type="number" id="input_target_pages" class="mr-2 float-left bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 py-3 px-6" name="study_number" placeholder="例)2" required="required" min="0" max="5000" required>
                  <span class="block pt-3">ページ</span>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="py-3 px-8 mb-2 bg-red-500 text-white font-bold mt-6 rounded-lg hover:bg-red-600" id="start_culc_btn">
                計算
              </button>
              <p class="text-gray-800 md:text-2xl lg:text-xl font-bold text-center mb-4 md:mb-8 underline"><span id="end_date"></span></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-10">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mx-6">
      <div class="p-3 my-2 bg-yellow-50 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center">
          <%= image_tag "top_calendar.png", class: "top_content_img pt-3" %>
          <p class="top_content_text mt-9 font-bold justify-start text-xl" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">カレンダーに本のページ数を<br>登録してみましょう。<br>ページ数と読書の終了予定日が<br>一覧で確認出来ます。</p>
        </div>
      </div>
      <div class="p-3 my-2 bg-yellow-50 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center">
          <%= image_tag "top_book.png", class: "top_content_img pt-6" %>
          <p class="top_content_text mt-4 font-bold justify-start text-xl" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">一日の終わりに、<br>読書した総ページ数を<br>記録してみましょう。<br>日々の読書記録を記録出来ます。</p>
        </div>
      </div>
      <div class="p-3 my-2 bg-yellow-50 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center">
          <%= image_tag "top_webculc.png", class: "top_content_img pt-4" %>
          <p class="top_content_text mt-6 font-bold justify-start text-xl" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">読書の記録を確認してみましょう。<br>読書したページ数から<br>本の残りのページ数と終了日を<br>自動で計算してくれます。</p>
        </div>
      </div>
    </div>
  </section>

  <div class="top_message text-center md:mb-2">
    <p class="top_message_inner text-gray-700 md:text-5xl font-bold text-center md:mt-28 leading-snug mb-3 text-2xl"  style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">買ったまま放置されている<br>本はありませんか？</p>
  </div>

  <div class="bg-no-repeat flex justify-center mx-6">
    <%= image_tag 'top_bookpage.png', class: 'mt-10' %>
  </div>

  <div class="text-center md:mb-20 mb-10">
    <div class="top_message">
      <p class="top_message_inner text-gray-700 md:text-5xl font-bold text-center mt-10 md:mt-28 leading-snug mb-6 text-2xl"  style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">忙しい毎日の空き時間を<br>有効活用しませんか？</p>
    </div>
    <%= link_to "使い方を見る", guide_path, class: "shadow-lg bg-orange-500 shadow-orange-500/50 text-white rounded px-2 py-1 md:mt-15 hover:bg-orange-600", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %>
  </div>
  <div class="bg-no-repeat flex justify-center mx-6">
    <%= image_tag 'top_culcbook.png' %>
  </div>
  <div class="top_message text-center md:mb-10 mb-10">
    <p class="top_message_inner text-gray-700 md:text-5xl font-bold text-center mt-10 md:mt-28 leading-snug mb-6 text-2xl"  style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">読書習慣をサポートします</p>
  </div>

  <div class="text-center pb-10 bg-blue-50 mt-10">
    <% if logged_in? %>
      <%= link_to "本の登録をしてみる", new_study_path, class: "shadow-lg shadow-blue-500/50 btn btn-primary md:text-2xl mb-4", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %><br>
    <% else %>
      <%= link_to "今すぐ始めてみる", new_user_path, class: "text-white start_button shadow-lg shadow-green-500/50 btn btn-success md:text-2xl mb-7 hover:bg-green-500 ", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %><br>
    <% end %>
    <%= link_to "使い方を見る", guide_path, class: "shadow-lg bg-orange-500 shadow-orange-500/50 text-white rounded px-2 py-1 mt-10 mb-20 hover:bg-orange-600", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %>
  </div>
</div>
