<% content_for(:title, t('.title')) %>

<div data-turbo="false">
  <div class="bg-white py-6 sm:py-8 lg:py-12" style="background-color: #f9fcff;">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8"><%= t '.title' %></h2>
      <div class="max-w-lg border rounded-lg mx-auto">
        <div class="flex flex-col border-t-4 border-indigo-600">
          <div class="hero bg-blue-50">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <% if current_user.role != 'guest' %>
                  <h1 class="text-5xl font-bold"><%= current_user.name %></h1>
                  <p class="py-6"><%= current_user.email %></p>
                  <div class="flex justify-center space-x-6">
                    <%= link_to (t 'defaults.edit'), edit_profile_path, class: "block bg-blue-700 hover:bg-blue-900 active:bg-gray-600 focus-visible:ring ring-gray-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3 mt-10 mb-5" %>
                    <%= link_to (t 'defaults.withdrawal'), unsubscribe_path, class: "block bg-red-600 hover:bg-red-800 active:bg-gray-600 focus-visible:ring ring-gray-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3 mt-10 mb-5" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
