<div class="navbar bg-base-100 h-20">
  <div class="flex-1 ml-3">
    <%= link_to root_path do %>
      <%= image_tag "header_logo1.png", alt: "タイトルアイコン", class: "float-left w-8 pt-1" %>
      <h1 class="flex m-auto text-2xl pt-1" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;" >&nbsp;積みログ&ensp;|&ensp;積読本解消アプリ</h1>
    <% end %>
  </div>
  <div class="flex-none space-x-6 mt-5">
    <%= link_to "ゲストログイン", "", method: :post, class: "md:m-auto font-bold mx-10 block w-full rounded bg-blue-700 px-3 py-2 text-sm font-medium text-white shadow hover:bg-blue-900 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto", style: "font-family: 'Gen Jyuu Gothic XP', sans-serif;" %>
    <div class="">
      <%= link_to "#" do %>
        <div class="hover:underline">
          <%= image_tag "header_start.png", alt: "積読本アイコン", class: "w-6 m-auto" %>
          <span class="font-extrabold" style="font-size: 2px">始める</span>
        </div>
      <% end %>
    </div>
    <div class="">
      <%= link_to "#" do %>
        <div class="hover:underline">
          <%= image_tag "header_guide.png", alt: "クイックガイドアイコン", class: "w-6 m-auto" %>
          <span class="font-extrabold" style="font-size: 4px">使い方</span>
        </div>
      <% end %>
    </div>
    <div class="">
      <%= link_to login_path do %>
        <div class="hover:underline">
          <%= image_tag "header_login.png", alt: "ログインアイコン", class: "w-6 m-auto" %>
          <span class="font-extrabold" style="font-size: 4px">ログイン</span>
        </div>
      <% end %>
    </div>
    <div class="">
      <%= link_to new_user_path do %>
        <div class="hover:underline mr-3">
          <%= image_tag "header_signup.png", alt: "サインアップアイコン", class: "w-6 m-auto" %>
          <span class="font-extrabold" style="font-size: 4px">新規登録</span>
        </div>
      <% end %>
    </div>

  </div>
</div>
