<div class="navbar bg-base-100 h-20">
  <div class="flex-1 ml-3">
    <%= link_to root_path do %>
      <%= image_tag "header_title.png", alt: "タイトルアイコン" %>
    <% end %>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end mr-3">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-16 pl-2">
        <div class="rounded-full">
          <%= link_to '#' do %>
            <%= image_tag "header_index.png", alt: "投稿一覧アイコン" %>
          <% end %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-16 pl-4">
        <div class="rounded-full">
          <%= link_to '#' do %>
            <%= image_tag "header_guide.png", alt: "クイックガイドアイコン" %>
          <% end %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-16 pl-3 mr-1">
        <div class="rounded-full">
          <%= link_to login_path do %>
            <%= image_tag "header_login.png", alt: "ログインアイコン" %>
          <% end %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-16 pl-2">
        <div class="rounded-full">
          <%= link_to new_user_path do %>
            <%= image_tag "header_signup.png", class: 'w-12', alt: "新規登録アイコン" %>
          <% end %>
        </div>
      </label>
    </div>
  </div>
</div>
