<div class="navbar bg-base-100 h-20">
  <div class="flex-1">
    <%= link_to root_path do %>
      <%= image_tag "header_title.png", alt: "タイトルアイコン" %>
    <% end %>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end mr-3">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-14 pl-1">
        <div class="rounded-full">
          <%= link_to '#' do %>
            <%= image_tag "header_index.png", alt: "投稿一覧アイコン" %>
          <% end %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-14 pl-1">
        <div class="rounded-full">
          <%= link_to '#' do %>
            <%= image_tag "header_calendar.png", alt: "カレンダーアイコン" %>
          <% end %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-16 pl-4 mx-2">
        <div class="rounded-full">
          <%= link_to '#' do %>
            <%= image_tag "header_guide.png", alt: "クイックガイドアイコン" %>
          <% end %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-16 mr-4 mx-2">
        <div class="rounded-full">
          <%= link_to edit_profile_path do %>
            <%= image_tag "header_plofile.png", alt: "プロフィールアイコン" %>
          <% end %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-14 pl-1">
        <div class="rounded-full">
          <%= link_to logout_path, data: { turbo_method: :delete } do %>
            <%= image_tag "header_logout.png", class: 'w-12', alt: "ログアウトアイコン" %>
          <% end %>
        </div>
      </label>
    </div>
  </div>
</div>
