<% if !study.status %>
  <div class="notDone w-full md:w-1/2 p-2">
    <% if remain_days_count(study).to_i > 0 %>
      <p class="font-bold text-right">終了まであと <span class="text-3xl"><%= remain_days_count(study).to_i %> </span>日</p>
    <% else %>
      <p class="font-bold text-right">終了まであと <span class="text-3xl">0 </span>日</p>
    <% end %>
    <div class=" p-3 my-2 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="background-color: #fdfdfd;">
      <div class="flex justify-between">
        <p class="font-bold justify-start text-xl">1日の目標ページ数</p>
        <div class="justify-end">
          <%= link_to (t 'defaults.edit'), edit_study_path(study), class: "float-left bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-1 px-1 border border-blue-500 hover:border-transparent rounded text-sm mr-2" %>
          <%= link_to (t 'defaults.delete'), study_path(study), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') }, class: "float-left bg-transparent hover:bg-red-500 text-red-400 font-semibold hover:text-white py-1 px-1 border border-red-500 hover:border-transparent rounded text-sm" %>
        </div>
      </div>
      <div class="flex justify-center my-4">
        <div class="bg-gradient-to-tr from-blue-500 to-blue-400 w-32 h-32  rounded-full border-white border-2  flex justify-center items-center drop-shadow-lg">
          <div>
            <h1 class="text-white text-2xl"><span><%= study.target_number %></span>ページ</h1>
          </div>
        </div>
      </div>
      <%= link_to study.title.truncate(16), study_path(study, id: study.id), class: "justify-start font-bold text-xl hover:text-blue-500", title: study.title %><br>
      <% if study.url.present? %>
        <%= link_to study.url.truncate(24), study.url, class: "hover:text-blue-500", title: study.url %>
      <% else %>
        <%= "urlの登録はありません" %>
      <% end %>
      <div class="leading-8 mt-8">
        <div>取り組む曜日 : <%= read_day_of_week(study) %></div>
        <div>目標終了予定日 :   <%= l target_end_date(study), format: :long %></div>
        <div>自動計算終了日 :   <%= l automatic_calculation_end_day(study), format: :long %></div>
        <div class="flex justify-between">
          <div class="flex">残りページ数&ensp;&ensp; : あと<span><%= remain_pages(study) %></span>ページ</div>
          <% if remain_pages(study) == 0 %>
            <div class="flex">
              <%= link_to "完了", studies_status_done_path(id: study.id), class: "float-left hover:bg-transparent bg-red-400 hover:text-red-400 font-semibold text-white py-1 px-1 border hover:border-red-500 border-transparent rounded text-sm" %>
            </div>
          <% end %>
        </div>
        <% book_progress = (((study.logs.pluck(:study_number).sum.to_f) / (study.end_number - study.start_number)) * 100).floor  %>
        <div class="w-full h-6 bg-gray-200 rounded-full mt-3">
          <div class="flex justify-start items-center progress-bar h-full text-sm text-white bg-blue-500 rounded-full font-bold" data-progress="<%= book_progress %>">
            <span class="progress-text inline-block px-2"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="done w-full md:w-1/2 p-2">
    <div class="mb-4 p-3 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="background-color: #f9fcff;">
      <div class="flex justify-between">
        <p class="font-bold justify-start text-xl">1日の目標</p>
        <div class="justify-end">
          <%= link_to (t 'defaults.edit'), edit_study_path(study), class: "float-left bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-1 px-1 border border-blue-500 hover:border-transparent rounded text-sm mr-2" %>
          <%= link_to (t 'defaults.delete'), study_path(study), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') }, class: "float-left bg-transparent hover:bg-red-500 text-red-400 font-semibold hover:text-white py-1 px-1 border border-red-500 hover:border-transparent rounded text-sm" %>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="bg-gradient-to-tr from-red-400 to-red-400 w-32 h-32  rounded-full border-white border-2  flex justify-center items-center drop-shadow-lg">
          <div>
            <h1 class="text-white text-2xl"><span><%= study.target_number %></span>ページ</h1>
          </div>
        </div>
      </div>
      <div class="mt-7">
        <%= link_to study.title.truncate(20), study_path(study), class: "font-bold text-xl hover:text-blue-500", title: study.title %><br>
      </div>
      <div class="flex justify-between pt-3">
        <div class="flex">
          <% if study.url.present? %>
            <%= link_to study.url.truncate(24), study.url, class: "hover:text-blue-500", title: study.url %><br>
          <% else %>
            <%= "urlの登録はありません" %><br>
          <% end %>
        </div>
        <div class="flex">
          <%= link_to "未完了", studies_status_not_done_path(id: study.id), class: "float-left hover:bg-transparent bg-blue-400 hover:text-blue-400 font-semibold text-white py-1 px-1 border hover:border-blue-500 border-transparent rounded text-sm" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
