<% if study.status == false %>
  <div class="notDone w-full md:w-1/2 p-2">
    <div class=" p-3 my-2 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
      <div class="flex justify-between">
        <p class="font-bold justify-start text-xl">1日の目標</p>
        <div class="justify-end">
          <%= link_to (t 'defaults.edit'), edit_study_path(study), class: "float-left bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-1 px-1 border border-blue-500 hover:border-transparent rounded text-sm mr-2" %>
          <%= link_to (t 'defaults.delete'), study_path(study), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') }, class: "float-left bg-transparent hover:bg-red-500 text-red-400 font-semibold hover:text-white py-1 px-1 border border-red-500 hover:border-transparent rounded text-sm" %>
        </div>
      </div>
      <div class="flex justify-center my-4">
        <div class="bg-gradient-to-tr from-blue-500 to-blue-400 w-32 h-32  rounded-full border-white border-2  flex justify-center items-center drop-shadow-lg">
          <div>
            <h1 class="text-white text-2xl"><span><%= study.target_number %></span>ページ</h1>
          </div>
        </div>
      </div>
      <%= link_to study.title, study_path(study), class: "font-bold text-xl hover:text-blue-500" %><br>
      <%= link_to study_memos_path(study), class: "mt-3 inline-flex items-center font-normal text-gray-600 dark:text-gray-400 hover:underline" do %>
        <span>勉強メモ</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
        </svg>
      <% end %>
      <div class="leading-8 mt-8">
        <%# 取り組む曜日を、数字から曜日に変換して表示 %>
        <% days_of_week = ['日曜', '月曜', '火曜', '水曜', '木曜', '金曜', '土曜'] %>
        <% study_days = study.day_of_week.split(",").map(&:to_i) %>
        <% study_day_names = study_days.map { |day| days_of_week[day] } %>
        <% study_days_arr = study_day_names.join(" ") %>
        <div>取り組む曜日 : <%= study_days_arr %></div>


        <% study_total_number = study.end_number - study.start_number %>
        <% if study_total_number % study.target_number == 0 %>
          <% study_total_days = study_total_number / study.target_number %>
        <% else %>
          <% study_total_days = (study_total_number.to_f / study.target_number.to_f).ceil %>
        <% end %>

        <%# "取り組む曜日を曜日の順に数字順に並び替え" %>
        <% dayOfWeek = study.day_of_week %>
        <% dayOfWeek_arr = dayOfWeek.split(",").map(&:to_i).sort %>

        <%# "目標終了日をルーブ文で計算" %>
        <% while study_total_days >= 1 %>
          <% if (dayOfWeek_arr).include?(study.start_day.wday) %>
            <% study_total_days -= 1 %>
          <% end %>
          <% study.start_day += 1%>
        <% end %>
        <% target_day = (study.start_day - 1).strftime('%Y年%m月%d日') %>
        <div>目標終了予定日 : <%= target_day %></div>

        <%# 残りページ数計算 %>
        <% total_studied_number = Log.where(user_id: current_user.id, study_id: study.id).pluck(:study_number).sum %>
        <% remain_number = (study.end_number - study.start_number) - total_studied_number %>
        <% if remain_number >= 0 %>
          <% remain_number = remain_number %>
        <% else %>
          <% remain_number = 0 %>
        <% end %>
        <div class="flex justify-between">
          <div class="flex">残りページ数&ensp;&ensp; : あと<span><%= remain_number %></span>ページ</div>
          <% if remain_number == 0 %>
            <div class="flex">
              <%= link_to "完了済にする", studies_status_done_path(id: study.id), class: "float-left hover:bg-transparent bg-red-400 hover:text-red-400 font-semibold text-white py-1 px-1 border hover:border-red-500 border-transparent rounded text-sm" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="done w-full md:w-1/2 p-2">
    <div class="p-3 my-2 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
      <div class="flex justify-between">
        <p class="font-bold justify-start text-xl">1日の目標</p>
        <div class="justify-end">
          <%= link_to (t 'defaults.edit'), edit_study_path(study), class: "float-left bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-1 px-1 border border-blue-500 hover:border-transparent rounded text-sm mr-2" %>
          <%= link_to (t 'defaults.delete'), study_path(study), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') }, class: "float-left bg-transparent hover:bg-red-500 text-red-400 font-semibold hover:text-white py-1 px-1 border border-red-500 hover:border-transparent rounded text-sm" %>
        </div>
      </div>
      <div class="flex justify-center my-4">
        <div class="bg-gradient-to-tr from-red-400 to-red-400 w-32 h-32  rounded-full border-white border-2  flex justify-center items-center drop-shadow-lg">
          <div>
            <h1 class="text-white text-2xl"><span><%= study.target_number %></span>ページ</h1>
          </div>
        </div>
      </div>
      <%= link_to study.title, study_path(study), class: "font-bold text-xl hover:text-blue-500" %><br>
      <%= link_to study_memos_path(study), class: "mt-3 inline-flex items-center font-normal text-gray-600 dark:text-gray-400 hover:underline" do %>
        <span>勉強メモ</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
        </svg>
      <% end %>
      <div class="flex justify-between">
        <div class="flex">終了日 : <%= target_day %></div>
        <div class="flex">
          <%= link_to "未完了にする", studies_status_not_done_path(id: study.id), class: "float-left hover:bg-transparent bg-blue-400 hover:text-blue-400 font-semibold text-white py-1 px-1 border hover:border-blue-500 border-transparent rounded text-sm" %>
        </div>
      </div>

    </div>
  </div>
<% end %>
