<div data-turbo="false">
  <div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
      <div class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
      <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
        <%= form_with model: @study, local: true do |f| %>
          <h1 class="text-2xl font-semibold text-center mb-6">勉強する本や動画を新規追加</h1>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="my-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>
            <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold">タイトル<span class="text-red-500 ml-2 text-sm">* 必須</span></label>
            <%= f.text_field :title, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: '本や動画のタイトル' %>
          </div>
          <div class="mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
            </svg>
            <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold">総ページ数、または総再生時間<span class="text-red-500 ml-2 text-sm">* 必須</span></label>
            <div class="justify-start my-2 select-none flex">
              <%= f.hidden_field :study_type, value: "1" %>
              <%# <%= f.button "書籍", class: "py-2 px-4 shadow-md no-underline rounded-full bg-blue text-white font-sans font-semibold text-sm border-blue btn-primary hover:text-white hover:bg-blue-light focus:outline-none active:shadow-none mr-2" %>
              <%# <%= f.button "動画", class: "py-2 px-4 shadow-md no-underline rounded-full bg-orange text-white font-sans font-semibold text-sm border-orange btn-primary hover:text-white hover:bg-orange-light focus:outline-none active:shadow-none mr-2" %>
            </div>
            <div>
              <span class="float-left text-center pt-2">総</span>
              <%= f.number_field :total_number, in: 0..5000, class: "mx-3 float-left text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-1/2", placeholder: "例) 500" %>
              <span class="block text-left pt-2">ページ</span>
            </div>
          </div>
          <div class="mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
            </svg>
            <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold">勉強を始めるページ数<span class="text-red-500 ml-2 text-sm">* 必須</span></label>
            <p class="text-gray-600 dark:text-white ">例:目次を抜いたページ数等</p>
            <div class="mt-2">
              <%= f.number_field :start_number, in: 0..5000, class: "mr-3 float-left text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-1/2", placeholder: "例) 10" %>
              <span class="block text-left pt-2">ページから</span>
            </div>
          </div>
          <div class="mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
            </svg>
            <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold">勉強を終えるページ数<span class="text-red-500 ml-2 text-sm">* 必須</span></label>
            <p class="text-gray-600 dark:text-white ">例:索引を抜いたページ数等</p>
            <div class="mt-2">
              <%= f.number_field :end_number, in: 0..5000, class: "mr-3 float-left text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-1/2", placeholder: "例) 480" %>
              <span class="block text-left pt-2">ページまで</span>
            </div>
          </div>
          <div class="mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
            </svg>
            <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold">1日に取り組む目標ページ数<span class="text-red-500 ml-2 text-sm">* 必須</span></label>
            <div class="mt-2">
              <%= f.number_field :target_number, in: 0..5000, class: "mr-3 float-left text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-1/2", placeholder: "例) 5" %>
              <span class="block text-left pt-2">ページ</span>
            </div>
          </div>
          <div class="mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
            </svg>
            <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold">リンク</label>
            <div class="mt-2">
              <%= f.url_field :url, class: "w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "勉強する本や動画のリンク" %>
            </div>
          </div>
          <div class="mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold">開始予定日<span class="text-red-500 ml-2 text-sm">* 必須</span></label>
            <div class="mt-2">
              <%= f.date_field :start_day, class: "flex-1 py-2 border-b-2 focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
          </div>
          <div class="mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold">取り組む曜日<span class="text-red-500 ml-2 text-sm">* 必須</span></label>
            <div class="mt-2">
              <div class="justify-start my-2 select-none flex">
                <%= f.hidden_field :day_of_week, value: "", id: "week_hidden" %>
                <input type="button" value="日" class="dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-4 border border-blue-500 rounded-full" />
                <input type="button" value="月" class="dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-4 border border-blue-500 rounded-full" />
                <input type="button" value="火" class="dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-4 border border-blue-500 rounded-full" />
                <input type="button" value="水" class="dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-4 border border-blue-500 rounded-full" />
                <input type="button" value="木" class="dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-4 border border-blue-500 rounded-full" />
                <input type="button" value="金" class="dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-4 border border-blue-500 rounded-full" />
                <input type="button" value="土" class="dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-4 border border-blue-500 rounded-full" />
              </div>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit (t 'defaults.register'), class: "py-3 px-8 bg-blue-600 text-white font-bold mt-6 rounded-lg" %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
