<% content_for(:title, t('.top_title')) %>

<div class="min-h-screen py-6 justify-center sm:py-12" style="background-color: #f9fcff;">
  <div class="py-3 sm:max-w-xl sm:mx-auto mx-4">
    <div class="px-4 py-10 shadow-lg sm:rounded-3xl sm:p-20 rounded-lg bg-blue-50">
      <%= form_with model: @study, local: true do |f| %>
        <h1 class="md:text-2xl font-semibold text-center mb-6 text-xl">本を新規追加</h1>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="my-6">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
          </svg>
          <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold"><%= t('activerecord.attributes.study.title') %><span class="text-red-500 ml-2 text-sm">* 必須</span></label>
          <%= f.text_field :title, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: '登録する本のタイトル', required: true  %>
        </div>
        <div class="mb-6">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
          </svg>
          <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold"><%= t('activerecord.attributes.study.total_pages') %><span class="text-red-500 ml-2 text-sm">* 必須</span></label>
          <div class="justify-start my-2 select-none flex">
            <%= f.hidden_field :study_type, value: "1", required: true %>
          </div>
          <div>
            <span class="float-left text-center pt-2">総</span>
            <%= f.number_field :total_number, in: 1..5000, id: "total_pages", class: "mx-3 float-left text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-1/2", placeholder: "例) 500", required: true %>
            <span class="block text-left pt-2">ページ</span>
          </div>
        </div>
        <div class="mb-6">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
          </svg>
          <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold"><%= t('activerecord.attributes.study.start_page') %><span class="text-red-500 ml-2 text-sm">* 必須</span></label>
          <p class="text-gray-600 dark:text-white "><%= t('activerecord.attributes.study.start_page_example') %></p>
          <div class="mt-2">
            <%= f.number_field :start_number, in: 1..5000, id: "start_page", class: "mr-3 float-left text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-1/2", placeholder: "例) 10", required: true %>
            <span class="block text-left pt-2">ページから</span>
          </div>
        </div>
        <div class="mb-6">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
          </svg>
          <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold"><%= t('activerecord.attributes.study.end_page') %><span class="text-red-500 ml-2 text-sm">* 必須</span></label>
          <p class="text-gray-600 dark:text-white"><%= t('activerecord.attributes.study.end_page_example') %></p>
          <div class="mt-2">
            <%= f.number_field :end_number, in: 1..5000, id: "end_page", class: "mr-3 float-left text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-1/2", placeholder: "例) 480", required: true %>
            <span class="block text-left pt-2">ページまで</span>
          </div>
        </div>
        <div class="mb-6">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
          </svg>
          <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold"><%= t('activerecord.attributes.study.target_pages') %><span class="text-red-500 ml-2 text-sm">* 必須</span></label>
          <div class="mt-2">
            <%= f.number_field :target_number, in: 1..5000, id: "target_pages", class: "mr-3 float-left text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-1/2", placeholder: "例) 5", required: true %>
            <span class="block text-left pt-2">ページ</span>
          </div>
        </div>
        <div class="mb-6">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
          </svg>
          <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold"><%= t('activerecord.attributes.study.url') %></label>
          <div class="mt-2">
            <%= f.url_field :url, class: "w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "登録する本のリンク" %>
          </div>
        </div>
        <div class="mb-6">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold"><%= t('activerecord.attributes.study.start_day') %><span class="text-red-500 ml-2 text-sm">* 必須</span></label>
          <div class="mt-2">
            <%= f.date_field :start_day, class: "flex-1 py-2 border-b-2 focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          </div>
        </div>
        <div class="mb-6">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 float-left text-center mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <label for="title" class="block mb-2 text-gray-600 dark:text-white font-bold"><%= t('activerecord.attributes.study.day_of_week') %><span class="text-red-500 ml-2 text-sm">* 必須</span></label>
          <div class="mt-2 max-w-full">
            <div class="justify-start my-2 select-none md:space-x-2 space-y-2">
              <%= f.hidden_field :day_of_week, value: "", id: "week_checked", required: true %>
              <div class="space-x-2">
                <input type="button" value="平日" class="mainWeekday py-1 px-3 bg-blue-700 text-white font-bold my-2 rounded-lg hover:bg-blue-900" />
                <input type="button" value="土日" class="mainHoliday py-1 px-3 bg-blue-700 text-white font-bold my-2 rounded-lg hover:bg-blue-900" />
              </div>
              <div>
                <input type="button" value="日" class="holiday dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-2 md:px-3 border border-blue-500 rounded-full" />
                <input type="button" value="月" class="weekday dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-2 md:px-3 border border-blue-500 rounded-full" />
                <input type="button" value="火" class="weekday dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-2 md:px-3 border border-blue-500 rounded-full" />
                <input type="button" value="水" class="weekday dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-2 md:px-3 border border-blue-500 rounded-full" />
                <input type="button" value="木" class="weekday dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-2 md:px-3 border border-blue-500 rounded-full" />
                <input type="button" value="金" class="weekday dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-2 md:px-3 border border-blue-500 rounded-full" />
                <input type="button" value="土" class="holiday dayOfWeek bg-gray-50 text-blue-700 font-semibold py-2 px-2 md:px-3 border border-blue-500 rounded-full" />
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <%= f.submit (t 'defaults.register'), class: "py-3 px-8 bg-blue-700 text-white font-bold mt-6 rounded-lg hover:bg-blue-900" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
