<% set_meta_tags og: { image: "https://www.tsumilog.net#{image_log_path}" } %>
<div style="background-color: #f9fcff;">
  <div class="flex items-center justify-center">
    <%= image_tag(image_log_path(id: @log.id), alt: "Generated Image") %>
  </div>
  <div class="py-3 sm:max-w-xl sm:mx-auto mx-4">
      <div class="flex justify-center items-center mt-4 ml-8">
        <%= link_to calendars_path do %>
          <div class="hover:underline flex flex-col justify-center items-center space-y-2">
            <%= image_tag "header_calendar.png", alt: "カレンダーアイコン", style: "width: 35%;" %>
            <span class="md:font-extrabold text-xs" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">カレンダー画面へ</span>
          </div>
        <% end %>
        <%= link_to "" do %>
          <div class="hover:underline flex flex-col justify-center items-center space-y-2">
            <%= image_tag "twitter_icon.png", alt: "Twitterアイコン", style: "width: 17%;" %>
            <span class="md:font-extrabold text-xs" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">Twitterで共有</span>
          </div>
        <% end %>
      </div>
  </div>
</div>
