<% content_for(:title, t('.title')) %>

<div class="bg-white py-6 justify-center sm:py-12">
  <div class="relative sm:max-w-xl sm:mx-auto mx-3">
    <div class="relative px-4 bg-blue-50 shadow-lg sm:rounded-3xl sm:p-20">
        <h1 class="text-2xl font-semibold text-center mb-6 pt-3">メモ</h1>
        <%= form_with model: [@study, @memo], local: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="my-6">
            <label for="title" class="block mb-4 text-gray-600 dark:text-white font-bold">タイトル : <%= @study.title %></span></label>
            <%= f.text_area :body, class: "w-full h-64 bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" %>
          </div>
          <div class="text-center">
            <%= f.submit (t 'defaults.add'), class: "mb-3 py-3 px-8 bg-blue-600 text-white font-bold rounded-lg" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
