<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
    <%= stylesheet_link_tag "simple_calendar", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <meta name="turbolinks-visit-control" content="reload">
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <% if logged_in? %>
      <%= render 'shared/footer' %>
    <% else %>
      <%= render 'shared/before_login_footer' %>
    <% end %>
  </body>
</html>
